<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="keywords" content="VIS, deadlines, conference">

<!-- Styles -->
<link rel="stylesheet" href="{{ '/static/css/js-year-calendar.min.css' | relative_url }}?t={{ site.time | date: '%s' }}">
<link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/deadlines.css' | relative_url }}?t={{ site.time | date: '%s' }}">
<link rel="stylesheet" href="{{ '/static/css/calendar.css' | relative_url }}?t={{ site.time | date: '%s' }}">

<link rel="shortcut icon" href="{{ '/static/img/favicon.png' | relative_url }}">

<!-- Scripts -->
<script src="{{ '/static/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/moment.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/moment-timezone-with-data.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery.countdown.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/store.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/js-year-calendar.js' | relative_url }}"></script>
<script src="{{ '/static/js/ouical.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/bootstrap-multiselect.min.js' | relative_url }}"></script>
